.App {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1440px;
  }

  .flex-container {
    display: flex;
    justify-content: center;

    @media (max-width: 1400px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .flex-item {
    padding: 0 1rem;
  }
}

.Table {
  display: flex;

  @media (max-width: 1400px) {
    margin-bottom: 50px;
  }
}

.Column {

}

.Row {
  .cell {
    background: lighten(#e0e0e0, 6.5%);
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    border-right: 1px solid rgba(224, 224, 224, 1);
    padding: 1rem;
    font-size: 14px;

    &.first-row {
      background: #209CEE;
      border: none;
      outline: none;
      border-right: 1px solid rgba(224, 224, 224, 1);
      color: white;
    }

    &.first-column {
      border-left: 1px solid rgba(224, 224, 224, 1);
      background: lighten(#e0e0e0, 9%);
    }

    &.last-column {
      
    }

    &.first-row.first-column {
      background: lighten(#209CEE, 7.5%);
      border-top-left-radius: 4px;
    }

    &.first-row.last-column {
      border-top-right-radius: 4px;
    }

    &.last-row.first-column {
      border-bottom-left-radius: 4px;
    }

    &.last-row.last-column {
      border-bottom-right-radius: 4px;
    }
  }
}
